# These file extensions and directories as below will be ignored by git tracking

*.o
*.obj
*.exe
*.log
*.tlog
*.pdb
*.ilk
*.iobj
*.ipdb
*.user
*.filters
*.idb
*.suo
*.db*
*.ipch
*.txt
*.opendb
*.recipe

build-*/